
$theme-colors: (
        "primary": #19AD5E
    );
    




@font-face {
    font-family: fink;
    src: url('../../fonts/FinkHeavy.woff') format('woff'),
    url('../../fonts/FinkHeavy.woff2') format('woff2');
}